body {
  margin: 0;
  font-family:"Fondamento", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #444444
}

code {
  font-family: "Fondamento",source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
